spring:
  # 데이터베이스 연결 설정
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver       # 사용하는 데이터베이스 드라이버
    url: ${DATABASE_URL} # 데이터베이스 URL
    username: ${DATABASE_USERNAME}                               # 데이터베이스 유저 이름
    password: ${DATABASE_PASSWORD}                                 # 데이터베이스 유저의 비밀번호
  # 스프링 JPA 설정
  jpa:
    hibernate:
      ddl-auto: create                               # DB 테이블 생성 전략 설정
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect # MySQL 8.x용 Dialect
        format_sql: true                             # 쿼리 로그를 정렬해서 출력한다
        show_sql: true                               # 실행되는 SQL 쿼리를 콘솔에 출력한다. 프로덕션 환경에서는 false로 변경해야 함.
    defer-datasource-initialization: true            # SQL 스크립트 초기화를 JPA 앤티티 매니저 초기화 이후로 지연시킨다. 이는 data.sql이 있어서 필요하다.
  sql:
    init:
      mode: always                                    # SQL 초기화 스크립트를 언제 실행할지 결정한다.

# Swagger 사용 설정
springdoc:
  swagger-ui:
    path: /swagger-ui.html                      # 스웨거 접근 경로
  api-docs:
    path: /api-docs                             # openAPI 접근 경로. default 값은 /v3/api-docs 이다.
  show-actuator: true                           # Spring Actuator의 endpoint까지 보여줄 것인지?
  default-consumes-media-type: application/json # request media type 의 기본 값
  default-produces-media-type: application/json # response media type 의 기본 값
  paths-to-match:                               # 해당 패턴에 매칭되는 controller만 swagger-ui에 노출한다.
    - /api/v1/**

# ===================================================================
# JWT (JSON Web Token) 관련 설정
# JWTProperties.java 레코드에 바인딩됩니다.
# ===================================================================
jwt:
  # JWT 서명 비밀 키
  #    - 반드시 Base64로 인코딩된 문자열이어야 합니다.
  #    - HS256 알고리즘(권장) 사용 시 최소 32바이트(256비트) 이상이어야 합니다.
  #    - [터미널에서 생성 예시]: openssl rand -base64 32
  secret: ${JWT_SECRET}

  # 액세스 토큰 유효 기간
  #    (Duration 형식: h=시간, m=분, s=초)
  #    (예: 1h = 1시간, 30m = 30분)
  access-token-validity-in-hour: 15m

  # 토큰 검증 시 허용할 시간 오차 (초 단위) (서버 간 시간 불일치 등을 대비)
  allowed-clock-skew-seconds: 30

  # 토큰 내부에 권한 정보를 저장할 클레임의 키 이름
  authority-key: "roles"

  # 액세스 토큰의 스키마 (접두사)
  bearer-header: "Bearer "
